*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "italianno";
    src: url("./Italianno/Italianno-Regular.ttf")
  }


/*
ul{
    background-color: rgba(41, 12, 12, 0.473);
    display: flex;
    justify-content: space-around;
    color: white;
    height: 35px;
    align-items: center;
}
li{
    list-style: none;
    font-size: 0.5em;
    margin: 5px;
    
    
}
li:hover{
    border: solid 1px black;
}
*/
.section0, .section2, .section4{
    background-color: rgba(211, 211, 211, 0.315);

}


h1{
    font-family: "italianno";
    font-size: 2.5rem;
    text-align: center;
    color: rgba(41, 12, 12, 0.473);
    padding: 2rem;
}

h1 ~ p{
   
    text-align: center;
    padding: 2rem;
}

.menu1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.menu1 img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit:cover;
}
.menu1 img:hover{
    border-radius: 50%;
    transform: scale(1.2);
}

/* SECTION 2 histoire */

.section1{
    width: 70%;
   margin-left: auto;
   margin-right: auto;
}

.story1, .story2{
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
   
}
.story1 p, .story2 p{
    border: 1px solid black;
    margin: 5px;
}

.section1 p::first-letter{
    font-size: 2rem;
    
}
.sect1 p{
    padding: 10px;
}

/* SECTION 3 preparation */

.section2{ 
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    justify-content:center;
    align-items: center;
}

.preparation{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    }

    .ingredients, .explications {
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        align-content: center;
        padding: 5px;
    }
   

    .ingredients img, .explications p{
        padding: 5px;
    }


/* SECTION 4 repos */

.section3{
    width: 70%;
   margin-left: auto;
   margin-right: auto;
    justify-content:center;
    align-items: center;
}

.hobbies{
    display: flex;
   justify-content: space-around;
}
.btn1, .btn2{
    font-size: 0.8rem;
    text-decoration: none;
    margin-top: 1rem;
    margin-left: 1rem;
    display: block;
}

.btn1, .btn2{
    background-color: rgba(41, 12, 12, 0.473);;
    border-radius: 30px;
    color: #fff;
    position: relative;
    transition: all 0.5s;
    border: 1px solid rgba(41, 12, 12, 0.473);
    padding: 0.5rem 2.5rem 0.5rem 1rem;
}
.btn1 span, .btn2 span{
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    margin: 0.3rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    text-align: center;
    transition: all 0.5s;
}
.bt1:hover, .btn2:hover{
    border-color: black;
}
.btn1:hover span, .btn2:hover span{
    color: rgba(41, 12, 12, 0.473);
    background-color: #fff;
    transform: rotate(360deg);
}


.p{
    background-color: rgba(211, 211, 211, 0.315);
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

/* SECTION 5 avis */

.avis{
    margin: 5px;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    
}
.avis div{
    border: 1px solid black;
}

.bg-div{
    height: 150px;
    width: 100%;
}
.bg-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stars5{
    width: 100%;
    height:25px;  
    object-fit: contain;
}

.avis span{
    font-size: 1.5em;
    font-weight: bold;
}

/* TEST 3 pour image */

.contact{
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.contact a{
    display: flex;
    flex-direction: column;
    justify-content: center;
}




@keyframes apparition{
    0%{
        transform:translateX(-200px);
    }
    100%{
        transform:translateX(0);
    }
}
@keyframes apparition2{
    0%{
        transform:translateX(200px);
    }
    100%{
        transform:translateX(0);
    }
}

@media (min-width:701px) and (max-width:1100px){
    .section1{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        
    }
    .section3{
        width: 100%;
        margin-left: auto;
       margin-right: auto;
        justify-content:center;
        align-items: center;
    }
    .p{
        background-color: rgba(211, 211, 211, 0.315);
        display: flex;
        width: 100%;
        margin-left: 20px;
        margin-right: auto;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 700px){
    
    .menu1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        text-align: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
    }
    /* 2*/
    
    .story1, .story2{
        display: grid;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        
    }
    .change{
        order: -1;
        padding: 5px    
    }

       /* 3 */

       .section2{
    
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        justify-content:center;
        align-items: center;
    }

       .preparation{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        
        /*animation-name: apparition;
        animation-duration: 2s;
        animation-direction: normal;*/
        }

      /* 4 */

      .section3{
        width: 100%;
       margin-left: auto;
       margin-right: auto;
        justify-content:center;
        align-items: center;
    }
    .p{
        background-color: rgba(211, 211, 211, 0.315);
        display: flex;
        width: 100%;
        margin-left: 20px;
        margin-right: auto;
        justify-content: center;
        align-items: center;
    }

    /*5*/
    .avis{
        width: 70%;
        margin: 5px;
        display: grid;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: 1fr;
        gap: 10px;
        
    }
}