*, ::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    text-decoration: none;
  --main-sub-color: rgba(0,54,54,255);
  --main-color: rgb(4,48,48);
  letter-spacing: 2px;
  overflow-x: hidden;
}

@font-face {
  font-family: "italianno";
  src: 
  url("/ressources/assets/fonts/Italianno/italianno-regular-webfont.woff"),
  url("/ressources/assets/fonts/Italianno/italianno-regular-webfont.woff2"),
  url("/ressources/assets/fonts/Italianno/Italianno-Regular.eot"),
  url("/ressources/assets/fonts/Italianno/Italianno-Regular.ttf"),
}
@font-face {
  font-family: "tnr";
  src:
   url("/ressources/assets/fonts/tnr/times\ new\ roman.ttf"),
   url("/ressources/assets/fonts/tnr/times\ new\ roman\ bold.ttf"),
   url("/ressources/assets/fonts/tnr/times\ new\ roman\ bold\ italic.ttf"),
   url("/ressources/assets/fonts/tnr/times\ new\ roman\ italic.ttf");
}


body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
}

header{
  background: linear-gradient(#045454 , black 25%);
  background-size:cover;
  background-blend-mode:darken;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-evenly;
}

.main-services{
  background: linear-gradient(#000000 5%, #045454);
  padding-top: 5%;
}

.title{
  padding: 20px;
  font-size: clamp(3.75rem, 3.0556rem + 3.7037vw, 7.5rem);
  color: white;
  font-weight: 300;
  font-family: "italianno";
  margin: 50px 20px;
  position: relative;
  z-index: 55;
  text-shadow: 0px 0px 10px #00c2cb, 0px 0px 20px #fff;
  
}

.title ~ p{
  margin-top: 3%;
  margin-left: 15%;
  font-size: clamp(2.3125rem, 1.8148rem + 2.6543vw, 5rem);
  color: white;
  padding: 5px 30px; 
  letter-spacing: 4px;
  font-family: "italianno";
  
}

.image-selfie{
  margin-top: 30px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.selfie{
  margin-top: 100px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}



/* Mes compétences  */


.main-services h2{
  font-family: "italianno";
  font-size: clamp(2.3125rem, 1.8843rem + 2.284vw, 4.625rem);
  text-align: center;
  color: white;
  font-weight: 300;
  padding-bottom: 3%;
  letter-spacing: 2px;
}

h2 {
  overflow: hidden;
  position: relative;
  width: 50%;
  margin: auto;
  -webkit-box-reflect: below -30px linear-gradient(transparent 20%, #22232e20);
}

h2::before,
h2::after {
 content: '';
  position: absolute;
  width: 100%;
  left: 0;
}
h2::before {
  background-color: white;
  height: 2px;
  bottom: 0;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}


h2:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}









.skills{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 5% 0;
  gap: 10px;
  color: white;
  padding: 10px;
  
}
.skills div{
  padding: 15px;
  border:1px solid #045454;
}
.skills h3{
  margin-bottom: 10px;
  font-size: clamp(1.375rem, 1.1088rem + 1.4198vw, 2.8125rem);
  font-family: "italianno";
}

.skill-picture{
  padding: 5px;
  width: 50px;
  height: 50px;
  
}

.skills li{
  list-style: inside;
  list-style-type: disclosure-closed;
  text-align: left;
  font-size: clamp(0.875rem, 0.8171rem + 0.3086vw, 1.1875rem);
  font-family: "tnr";
  font-style: italic;
}

.service{
  border: solid 1px black;
}

.service img{
  width: 100%;
  object-fit: cover;
  height: 125px;
}

.service a{
  color: var(--main-color);
  font-size: 1.5em;
}

.ingredients{
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  align-content: center;
  padding: 5px;
  opacity: 0;
}


/* Mes réalisations */


.jsProducts{
  position: absolute;
  top: 40%;
  width: 10px;
  height: 200px;

}


#carroussel, #dots-con{
  display: none;
}

.products-shop{
  position: relative;
  background-color: aliceblue;
  background: linear-gradient(#045454, #041c1c);
  padding: 2% 0;

}

.products-shop h2{
  text-align: center;
  color: white;
  font-weight: 300;
  font-family: "italianno";
  font-size: 3em;
  margin: auto;
  font-size: clamp(2.3125rem, 1.8843rem + 2.284vw, 4.625rem);

}

.products{
  opacity: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 5%;
  gap: 30px;
  justify-content: center;
  padding-bottom: 30px;
}

.product{
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: scale(1);
  transition: transform 0.3s;
}

.product:hover{
  transform: scale(1.1);
  transition: transform 0.3s ;
}

.product img{
  width: 100%;
  object-fit: fill;
  height: 150px;
}

.product p{
  color: whitesmoke;
  font-family: "tnr";
  font-size: clamp(0.875rem, 0.8171rem + 0.3086vw, 1.1875rem);
  padding-top: 5px;
}

.product-link{
  display: block;
  justify-content: center;
  text-align: center;
  padding: 5px;
  margin: 20px auto;
  border-radius: 15px;
  background-color: var(--main-color);
  font-size: 1em;
  color: white;
  border: 1px solid white;
  width: fit-content;
  padding: 5px;
  font-size: clamp(0.875rem, 0.8171rem + 0.3086vw, 1.1875rem);
}

.product-link:hover{
background-color: #045454;
color: white;
}



/* Contact  */



.contact{
  padding: 2%;
  background-color: white;
  background: linear-gradient(#041c1c, #045454);
}

.contact h2{
  text-align: center;
  font-size: clamp(2.3125rem, 1.8843rem + 2.284vw, 4.625rem);
  color: white;
  font-weight: 300;
  font-family: "italianno";
  padding-bottom: 15px;
}

.contact .mail{
  display: block;
  color: white;
  font-size: 1.5em;
  width: fit-content;
  margin: 15px auto 0 auto;
  text-align: center;

}
.contact .mail:hover{
  background-color: white;
}

.socials{
  padding-top: 2%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 10px;
}

.social{
  margin: auto;
  display: flex;
  flex-direction: column;
}

.contact img{
  margin: auto;
  padding: 5px;
  font-size: 1.2em;
  width: 50px
}
.contact a{
  color: antiquewhite;
  font-size: clamp(0.875rem, 0.8171rem + 0.3086vw, 1.1875rem);;
}
.contact a:hover{
  color: #011d1d;
}


/* FOOTER */


footer{
  background-color: #010f0f;
}

.footer{
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 2% 0 10px;
  gap: 10px;
  color: white;
}

.copyright{
  text-align: center;
  color: rgba(245, 245, 245, 0.425);
  padding: 15px 0;
}


/* Animation keyframes */



@keyframes apparition{
  0%{
      transform:translateX(-1200px);
  }
  100%{
      transform:translateX(0);
  }
}
@keyframes apparition2{
  0%{
      transform:translateX(1200px);
  }
  100%{
      transform:translateX(0);
  }
}

@keyframes fadePrev{

  from{
    opacity:0;
    transform: translateX(100%);
  }
  to{
    opacity:1;
    transform: translateX(0%);
  }
}

@keyframes fadeNext{

  from{
    opacity:0;
    transform: translateX(-100%);
  }
  to{
    opacity:1;
    transform: translateX(0%);
  }

}

/* tablette & mobile */

@media screen and (max-width: 800px) {

 
  h3{
    font-size: clamp(0.655625rem, -0.0291rem + 3.652vw, 1.796875rem);
  }

  .selfie{
    display: none;
  } 

  .products{
    display: none;
  }


  #dots-con{
    display: block;
  }

  #carroussel{
    display: block;
    width:50%;
    margin:0 auto;
    position:relative;
    overflow:hidden;
    box-shadow:2px 5px 10px rgba(0,0,0,0.4);
    margin-top: 5%;
    background-color: aliceblue;
  }

  .slide{
    width:100%;
    display:none;
  }
  .slide p{
    text-align: center;
  }

  .carroussel-image{
    width:100%; 
    height: 150px;
  }

  .controls{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    font-size:1.2em;
    padding:10px 5px;
    border-radius:5px;
    background-color: var(--main-color);
    color: white;

  }

  .controls:hover{
    background:#045454;
    transition:0.3s;
    color: white;
  }

  #left-arrow{
    left:10px;
  }

  #right-arrow{
    right:10px;
  }

  #dots-con{
    text-align:center;
  }

  .dot{
    display:inline-block;
    background:lightgrey;
    padding:8px;
    border-radius:50%;
    margin:10px 5px;

  }
  .active{
    background: var(--main-sub-color);
  }

}

@media screen and (max-width: 600px){

  #carroussel{
    display: block;
    width:80%;
  }
}















